<li class="nav-item">
  <div class="dropdown show">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Collaboration Invites
    </a>

    <div
      class="dropdown-menu messages-dropdown"
      aria-labelledby="dropdownMenuLink"
    >
      <ng-container
        *ngIf="myCollaborations?.length > 0; then showCb; else hiddeCb"
      ></ng-container>
      <ng-template #showCb>
        <app-message
          *ngFor="let cb of myCollaborations"
          [fromUser]="cb?.data.fromUser"
          [toUser]="cb?.data.toUser"
          [cbId]="cb?.id"
        ></app-message>
      </ng-template>
      <ng-template #hiddeCb>
        <div class="no-messages">
          <p>No collaboration invites</p>
        </div>
      </ng-template>
    </div>
  </div>
</li>
