<h1>Sent Offers</h1>
<div *ngIf="isDataLoaded" class="main-container">
  <app-offer-card
    *ngFor="let offer of offersSent"
    [collaboration]="offer?.data.collaborationCreated"
    [note]="offer?.data.note"
    [price]="offer?.data.price"
    [status]="offer?.data.status"
    [time]="offer?.data.time"
    [serviceId]="offer?.data.service"
    [fromUser]="offer?.data.fromUser"
    [toUser]="offer?.data.toUser"
    [offerId]="offer?.id"
    [isReceiver]="false"
  >
    ></app-offer-card
  >
</div>
<app-spinner *ngIf="!isDataLoaded"></app-spinner>
