<section class="content-page">
  <div class="container-fluid">
    <section class="hero">
      <div class="container">
        <div class="row">
          <h1 class="text-uppercase">Hello, there!!</h1>
          <span class="text">
            <p>
              I'm Daniel a innovative Front-End developer who loves to code. I
              don’t like to define myself by the work I’ve done. I define myself
              by the work I want to do, skills can be taught, personality is
              inherent. I prefer to keep learning, continue challenging myself,
              and do interesting things that matter, fueled by high energy
              levels and boundless enthusiasm.
            </p>
            <p>
              You can contact me via:
              <a
                class="linkedin"
                target="_blank"
                href="https://linkedin.com/in/daniel-pashaliyski-ab65baa0"
                ><i class="fa fa-linkedin-square" aria-hidden="true"></i
              ></a>
            </p>
          </span>
        </div>
      </div>
    </section>

    <section class="mission">
      <div class="container">
        <div class="row">
          <h2 class="text-uppercase">About the project</h2>
          <span class="text">
            <p>
              This is my first big application, I've invested many hours per day
              to complete it as fast as possible, even tho when I started the
              project I didn't have any idea how to implement all the features
              of the application, but in the end I did it, maybe not in the best
              way, but it works. Keep in mind that the application may have some
              bugs, but I'll do my best to fix these bugs when I encounter them.
              And new better projects coming soon, thanks to the experience I
              got from that one. Thanks for visiting my application. :]
            </p>
            <div class="project-version">
              <h5>ConnectValve version: 1.0.0</h5>
              <p>Things I'm going to improve or fix next.</p>
              <ul>
                <li>Add a replay field to User Inbox message.</li>
              </ul>
            </div>
          </span>
        </div>
      </div>
    </section>
  </div>
</section>
