<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <form [formGroup]="editProfileForm" (ngSubmit)="handleProfileUpdate()">
        <div class="profile-sidebar">
          <div class="profile-userpic">
            <img [src]="user?.avatar" class="img-responsive" alt="" />
            <app-input
              *ngIf="editMode"
              [control]="editProfileForm.get('avatar')"
              name="avatar"
              placeholder="Please enter avatar url"
            ></app-input>
          </div>
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              {{ user?.name }}
            </div>
          </div>
          <div class="profile-userbuttons">
            <button
              *ngIf="canSendMessages"
              type="button"
              class="btn btn-danger btn-sm"
              (click)="handleMessageMode()"
            >
              {{ messageMode ? 'Cancel Message' : 'Message' }}
            </button>
            <button
              *ngIf="editMode"
              class="btn btn-primary btn-sm"
              type="submit"
            >
              Update
            </button>
            <button
              *ngIf="canEditProfile"
              type="button"
              class="btn btn-warning btn-sm"
              (click)="handleEditMode()"
            >
              {{ editMode === true ? 'Cancel Edit' : 'Edit Profile' }}
            </button>
          </div>

          <div class="portlet light bordered">
            <div class="row list-separated profile-stat">
              <div class="col-md-4 col-sm-4 col-xs-6 services">
                <div class="uppercase profile-stat-title">
                  {{ services?.length }}
                </div>
                <div class="uppercase profile-stat-text">Services</div>
              </div>
            </div>
            <div class="profile-info">
              <h4 class="profile-desc-title">About {{ user?.name }}</h4>
              <p class="profile-desc-text">
                {{ user?.description }}
              </p>
              <app-input
                *ngIf="editMode"
                [control]="editProfileForm.get('description')"
                name="description"
                placeholder="Please enter description"
              ></app-input>
              <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p>{{ user?.email }}</p>
                <app-input
                  *ngIf="editMode"
                  [control]="editProfileForm.get('email')"
                  name="email"
                  placeholder="Please enter email"
                ></app-input>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-9 services-container">
      <div *ngIf="!messageMode" class="services">
        <h3>User Services</h3>
        <div class="profile-content" *ngIf="services?.length; else noServices">
          <app-profile-service-card
            *ngFor="let service of services"
            [title]="service?.data.title"
            [price]="service?.data.price"
            [category]="service?.data.category"
            [description]="service?.data.description"
            [image]="service?.data.image"
            [id]="service?.id"
          ></app-profile-service-card>
        </div>

        <ng-template #noServices>
          User has no services
        </ng-template>
      </div>
      <app-message-form *ngIf="messageMode"></app-message-form>
    </div>
  </div>
</div>

<app-small-popup
  *ngIf="feedback?.visible"
  [message]="feedback?.message"
  [type]="feedback?.type"
></app-small-popup>
