<input id="message-{{ index }}" type="checkbox" />
<label class="msg-label" for="message-{{ index }}" href="#move">
  <div class="container_ui__item">
    <div class="face">
      <img [src]="avatar" />
      <div
        class="color_bar"
        [ngClass]="{ one: index % 2 === 0, two: index % 2 !== 0 }"
      >
        <p>Now Reading</p>
        <span>Read</span>
      </div>
    </div>
    <h2>
      {{ fromUser }}
    </h2>
    <div class="dot" [ngClass]="{ active: user?.status === 'online' }"></div>
    <h3>subj: {{ sliceText(subject) }}</h3>
    <h4>{{ sliceText(message) }}</h4>
  </div>
  <div class="container_ui__expand" id="close">
    <div class="heading" [ngClass]="{ two: index % 2 !== 0 }">
      <div class="heading_head"></div>
      <label for="message-{{ index }}">
        x
      </label>
      <button (click)="handleDeleteMsg()" class="btn btn-danger btn-sm">
        Delete
      </button>
    </div>
    <div class="body">
      <div class="user">
        <div class="face">
          <img [src]="avatar" />
        </div>
        <div class="details">
          <h2>{{ fromUser }}</h2>
          <h3>subj: {{ subject }}</h3>
        </div>
      </div>
      <div class="content">
        <p>
          {{ message }}
        </p>
      </div>
    </div>
  </div>
</label>
