<li>
  <div>
    <img [src]="image" />
  </div>
  <div class="content">
    <ng-container *ngIf="editMode; then edit; else notEdit"></ng-container>
    <ng-template #notEdit>
      <div class="title">
        <h3>{{ title }}</h3>
      </div>
      <div class="category">
        <p>{{ category }}</p>
      </div>
      <div class="description">
        <p>{{ description }}</p>
      </div>
      <div class="price">
        <p>${{ price }}</p>
      </div>
      <div class="buttons">
        <button [routerLink]="['/services/', id]" class="btn btn-primary">
          Go to service
        </button>
        <button (click)="handleEdit()" class="btn btn-warning">
          Edit service
        </button>
      </div>
    </ng-template>
    <ng-template #edit>
      <form [formGroup]="editForm" (ngSubmit)="handleServiceEdit()">
        <div class="category-container field">
          <label class="my-1 mr-2" for="category">Category</label>
          <select
            class="custom-select my-1 mr-sm-2"
            id="category"
            formControlName="category"
          >
            <option disabled [selected]="true == true" value="choose"
              >Choose...</option
            >
            <option value="programming">Programming</option>
            <option value="web design">Web Design</option>
            <option value="art">Art</option>
            <option value="others">Others</option>
          </select>
        </div>
        <div class="title field">
          <label>Title</label>
          <app-input
            [control]="editForm.get('title')"
            placeholder="Enter title"
          ></app-input>
        </div>

        <div class="desc field">
          <label for="desc">Description</label>
          <textarea
            id="desc"
            cols="70"
            rows="10"
            placeholder="Enter description"
            formControlName="description"
          ></textarea>
          <div
            *ngIf="
              editForm.get('description').errors?.required &&
              editForm.get('description').touched
            "
            style="color: 'red';"
          >
            Value is required.
          </div>
          <div
            *ngIf="editForm.get('description').errors?.minlength"
            style="color: 'red';"
          >
            Value you entered is
            {{ editForm.get('description').errors?.minlength.actualLength }}
            characters long, but it must be at least
            {{ editForm.get('description').errors?.minlength.requiredLength }}
            characters.
          </div>
          <div
            *ngIf="editForm.get('description').errors?.maxlength"
            style="color: 'red';"
          >
            Value you entered is
            {{ editForm.get('description').errors?.maxlength.actualLength }}
            characters long, but it must be less than
            {{ editForm.get('description').errors?.maxlength.requiredLength }}
            characters.
          </div>
        </div>

        <div class="image field">
          <label>Image Url</label>
          <app-input
            [control]="editForm.get('image')"
            placeholder="Enter image url"
            name="image url"
          ></app-input>
        </div>

        <div class="price field">
          <label>Price per hour</label>
          <app-input
            [control]="editForm.get('price')"
            placeholder="Enter price per hour"
            name="value type"
          ></app-input>
        </div>
        <div class="edit-buttons field">
          <button [disabled]="editForm.invalid" class="btn btn-primary">
            Update
          </button>
          <button
            (click)="handleCancelEdit()"
            type="button"
            class="btn btn-outline-secondary"
          >
            Cancel
          </button>
          <button class="btn btn-outline-danger">
            Delete
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</li>
