li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li img {
  float: left;
  margin: 0 15px 0 0;
  width: 250px;
  height: 250px;
}

li p {
  font-weight: 15px;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  width: 100%;
}
.buttons .btn-primary {
  margin-right: 10px;
}

.category-container {
  width: 25%;
}
.desc {
  display: flex;
  flex-direction: column;
}

.desc textarea {
  padding: 0.5rem;
}

.field {
  margin-bottom: 15px;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.edit-buttons .btn-primary {
  margin-right: 10px;
}
.edit-buttons .btn-outline-secondary {
  margin-right: 10px;
}

@media screen and (max-width: 830px) {
}

@media screen and (max-width: 1140px) {
  .content {
    width: 90%;
  }
}
@media screen and (max-width: 960px) {
}
@media (max-width: 576px) {
  .content {
    width: 100%;
    text-align: center;
  }
  .buttons {
    width: 100%;
    justify-content: space-evenly;
  }
  .img-container {
    margin: 0 auto;
  }
}
