<div class="container-fluid main">
  <div class="card profile">
    <div class="card-header profileName">
      {{ name }}
      <div class="isOnline">
        <small>{{ status }} </small>
      </div>
    </div>
    <div class="card-body profileBody">
      <div class="profilePic">
        <img class="avatar" [src]="avatar" [alt]="name" />
      </div>
      <div class="profileInfo">
        <p>Description: {{ description }}</p>
      </div>
    </div>
    <div class="card-footer actions">
      <button [routerLink]="[userId]" class="btn btn-warning">
        Profile
      </button>
    </div>
  </div>
</div>
