<div class="container-fluid main">
  <div class="card profile">
    <div class="card-header profileName">
      {{ name }}
      <div class="isOnline">
        <small
          [ngStyle]="{ color: status === 'online' ? '#67b678' : '#df4957' }"
          >{{ status }}
        </small>
      </div>
      <div class="stars">
        <span>{{ votes?.length }} likes</span>
        <span (click)="handleUserVote()">
          <i
            class="fa fa-star"
            aria-hidden="true"
            [ngStyle]="{
              color: user?.votes?.includes(loggedUserId) ? '#fff' : '#dfdf03'
            }"
          ></i>
        </span>
      </div>
    </div>
    <div class="card-body profileBody">
      <div class="profilePic">
        <img class="avatar" [src]="avatar" [alt]="name" />
      </div>
      <div class="profileInfo">
        <p>Description: {{ description }}</p>
      </div>
    </div>
    <div class="card-footer actions">
      <button [routerLink]="[userId]" class="btn btn-warning">
        Profile
      </button>
    </div>
  </div>
</div>
