<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div
        class="nav nav-pills faq-nav"
        id="faq-tabs"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          href="#tab1"
          class="nav-link active"
          data-toggle="pill"
          role="tab"
          aria-controls="tab1"
          aria-selected="true"
        >
          <i class="fa fa-question-circle" aria-hidden="true"></i> Frequently
          Asked Questions
        </a>
        <a
          href="#tab2"
          class="nav-link"
          data-toggle="pill"
          role="tab"
          aria-controls="tab2"
          aria-selected="false"
        >
          <i class="fa fa-graduation-cap" aria-hidden="true"></i> Services
        </a>
        <a
          href="#tab3"
          class="nav-link"
          data-toggle="pill"
          role="tab"
          aria-controls="tab3"
          aria-selected="false"
        >
          <i class="fa fa-paper-plane" aria-hidden="true"></i> Offers
        </a>
        <a
          href="#tab4"
          class="nav-link"
          data-toggle="pill"
          role="tab"
          aria-controls="tab4"
          aria-selected="false"
        >
          <i class="fa fa-users" aria-hidden="true"></i> Collaborations
        </a>
        <a
          href="#tab5"
          class="nav-link"
          data-toggle="pill"
          role="tab"
          aria-controls="tab5"
          aria-selected="false"
        >
          <i class="fa fa-commenting" aria-hidden="true"></i> Service Messages
        </a>
        <a
          href="#tab6"
          class="nav-link"
          data-toggle="pill"
          role="tab"
          aria-controls="tab6"
          aria-selected="false"
        >
          <i class="fa fa-user" aria-hidden="true"></i> Users
        </a>
        <a
          href="#tab7"
          class="nav-link"
          data-toggle="pill"
          role="tab"
          aria-controls="tab7"
          aria-selected="false"
        >
          <i class="fa fa-question" aria-hidden="true"></i> General help
        </a>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="tab-content" id="faq-tab-content">
        <div
          class="tab-pane show active"
          id="tab1"
          role="tabpanel"
          aria-labelledby="tab1"
        >
          <div class="accordion" id="accordion-tab-1">
            <div class="card">
              <div class="card-header" id="accordion-tab-1-heading-1">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-1-content-1"
                    aria-expanded="false"
                    aria-controls="accordion-tab-1-content-1"
                  >
                    What is ConnectValve ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse show"
                id="accordion-tab-1-content-1"
                aria-labelledby="accordion-tab-1-heading-1"
                data-parent="#accordion-tab-1"
              >
                <div class="card-body">
                  <p>
                    ConnectValve is a collaboration app. You can create your own
                    services, which will be seen by all users, so they can send
                    you offers. After offer is send by someone, you have choice
                    to accept, decline temporary or delete the offer eternally.
                    If you accept the offer, the user that have send you the
                    offer can create a collaboration, after collaboration is
                    created you and the offer sender have to enter it as soon as
                    possible. If both of you have joined the collaboration you
                    can start the collaboration and a timer will start, after
                    time expires, collaboration will finish and you can send
                    further messages.
                  </p>
                  <p><strong>Example: </strong> Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-1-heading-2">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-1-content-2"
                    aria-expanded="false"
                    aria-controls="accordion-tab-1-content-2"
                  >
                    Help, I can't seem to log in!
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-1-content-2"
                aria-labelledby="accordion-tab-1-heading-2"
                data-parent="#accordion-tab-1"
              >
                <div class="card-body">
                  <p>
                    If you signed up for ConnectValve using your email and
                    password, make sure you are on the Log in page and you use
                    your correct email and password.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-1-heading-3">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-1-content-3"
                    aria-expanded="false"
                    aria-controls="accordion-tab-1-content-3"
                  >
                    I've send an offer, but nothing happened ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-1-content-3"
                aria-labelledby="accordion-tab-1-heading-3"
                data-parent="#accordion-tab-1"
              >
                <div class="card-body">
                  <p>
                    After you've send your offer, the service owner has to
                    accept the offer, if that is the case you can create a
                    collaboration inside your "Sent Offers" page. Keep in mind,
                    that the service owner may decline temporary or delete the
                    offer, if that happens you can't create a collaboration.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-1-heading-4">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-1-content-4"
                    aria-expanded="false"
                    aria-controls="accordion-tab-1-content-4"
                  >
                    How can I start a collabortion ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-1-content-4"
                aria-labelledby="accordion-tab-1-heading-4"
                data-parent="#accordion-tab-1"
              >
                <div class="card-body">
                  <p>
                    First of all the service owner that you've offered has to
                    accept the offer. After offer is accepted you have to create
                    a collaboration via the "Collaboration" button which you can
                    find in your "Send offers" page, only if offer is accepted.
                    If collaboration is created you have the choice to enter the
                    collaboration and service owner will get collaboration
                    message and be asked to join also. After both of you are on
                    the same collaboration page, you can start the collaboration
                    timer via the "Start Collaboration" button. After time
                    expires, collaboration will finish and you can't send
                    further messages.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
          <div class="accordion" id="accordion-tab-2">
            <div class="card">
              <div class="card-header" id="accordion-tab-2-heading-1">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-2-content-1"
                    aria-expanded="false"
                    aria-controls="accordion-tab-2-content-1"
                  >
                    How to create a service ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse show"
                id="accordion-tab-2-content-1"
                aria-labelledby="accordion-tab-2-heading-1"
                data-parent="#accordion-tab-2"
              >
                <div class="card-body">
                  <p>
                    You can create a service using the Manage -> Create Service
                    link. Keep in mind that you can't create a service if fields
                    are not valid.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-2-heading-2">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-2-content-2"
                    aria-expanded="false"
                    aria-controls="accordion-tab-2-content-2"
                  >
                    I've create a service, what now ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-2-content-2"
                aria-labelledby="accordion-tab-2-heading-2"
                data-parent="#accordion-tab-2"
              >
                <div class="card-body">
                  <p>
                    After you've created a service, users can send you offers.
                    You can see user offers inside the "Recived Offers" page,
                    which you can find in Manage -> Recived Offers. You have the
                    choice to accept, decline temporary or delete the offer.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-2-heading-3">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-2-content-3"
                    aria-expanded="false"
                    aria-controls="accordion-tab-2-content-3"
                  >
                    Where I can find my services ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-2-content-3"
                aria-labelledby="accordion-tab-2-heading-3"
                data-parent="#accordion-tab-2"
              >
                <div class="card-body">
                  <p>
                    You can find you services using the navbar Manage -> My
                    Services link.
                  </p>
                  <p><strong>Example: </strong> Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-2-heading-4">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-2-content-4"
                    aria-expanded="false"
                    aria-controls="accordion-tab-2-content-4"
                  >
                    How can I manage my services ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-2-content-4"
                aria-labelledby="accordion-tab-2-heading-4"
                data-parent="#accordion-tab-2"
              >
                <div class="card-body">
                  <p>
                    You can find your services at Manage -> My Services link.
                    You have the option to check how your service looks, to
                    update it or delete it.
                  </p>
                  <p><strong>Example: </strong> Image here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
          <div class="accordion" id="accordion-tab-3">
            <div class="card">
              <div class="card-header" id="accordion-tab-3-heading-1">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-3-content-1"
                    aria-expanded="false"
                    aria-controls="accordion-tab-3-content-1"
                  >
                    How can I send a offer ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse show"
                id="accordion-tab-3-content-1"
                aria-labelledby="accordion-tab-3-heading-1"
                data-parent="#accordion-tab-3"
              >
                <div class="card-body">
                  <p>
                    First of all you need to have a registration. If you're
                    logged in, you can go to the main page and scroll down,
                    there you will see all services. After you choose a service
                    you have to click on the learn more button. There you will
                    see a Make offer button, that will open a popup and you have
                    to enter a short note and the hours you want to collaborate,
                    price will be calculated for the collaboration time.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-3-heading-2">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-3-content-2"
                    aria-expanded="false"
                    aria-controls="accordion-tab-3-content-2"
                  >
                    I've send an offer, but nothing happened ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-3-content-2"
                aria-labelledby="accordion-tab-3-heading-2"
                data-parent="#accordion-tab-3"
              >
                <div class="card-body">
                  <p>
                    Answer
                  </p>
                  <p>
                    <strong>Example: </strong> After you've send your offer, the
                    service owner has to accept the offer, if that is the case
                    you can create a collaboration inside your "Sent Offers"
                    page. Keep in mind, that the service owner may decline
                    temporary or delete the offer, if that happens you can't
                    create a collaboration.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-3-heading-3">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-3-content-3"
                    aria-expanded="false"
                    aria-controls="accordion-tab-3-content-3"
                  >
                    What if I don't like the offer I've send ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-3-content-3"
                aria-labelledby="accordion-tab-3-heading-3"
                data-parent="#accordion-tab-3"
              >
                <div class="card-body">
                  <p>
                    After you've send an offer, there is not way to cancel it,
                    so make sure that you're 100% sure about the offer before
                    you send it. Your only option is to contact the service
                    owner and ask for money refund.(I've not implementated
                    personal messages outside the collaboration, but I'm
                    thinking about it)
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-3-heading-4">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-3-content-4"
                    aria-expanded="false"
                    aria-controls="accordion-tab-3-content-4"
                  >
                    Where can I see my offer status ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-3-content-4"
                aria-labelledby="accordion-tab-3-heading-4"
                data-parent="#accordion-tab-3"
              >
                <div class="card-body">
                  <p>
                    You can see your offer status at Manage -> Offers Sent page.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
          <div class="accordion" id="accordion-tab-4">
            <div class="card">
              <div class="card-header" id="accordion-tab-4-heading-1">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-4-content-1"
                    aria-expanded="false"
                    aria-controls="accordion-tab-4-content-1"
                  >
                    How can I start a collabortion ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse show"
                id="accordion-tab-4-content-1"
                aria-labelledby="accordion-tab-4-heading-1"
                data-parent="#accordion-tab-4"
              >
                <div class="card-body">
                  <p>
                    First of all the service owner that you've offered has to
                    accept the offer. After offer is accepted you have to create
                    a collaboration via the "Collaboration" button which you can
                    find in your "Send offers" page, only if offer is accepted.
                    If collaboration is created you have the choice to enter the
                    collaboration and service owner will get collaboration
                    message and be asked to join also. After both of you are on
                    the same collaboration page, you can start the collaboration
                    timer via the "Start Collaboration" button. After time
                    expires, collaboration will finish and you can't send
                    further messages.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-4-heading-2">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-4-content-2"
                    aria-expanded="false"
                    aria-controls="accordion-tab-4-content-2"
                  >
                    Where can I see my collaborations ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-4-content-2"
                aria-labelledby="accordion-tab-4-heading-2"
                data-parent="#accordion-tab-4"
              >
                <div class="card-body">
                  <p>
                    You can find your created collaborations at Manage -> My
                    Collaborations.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-4-heading-3">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-4-content-3"
                    aria-expanded="false"
                    aria-controls="accordion-tab-4-content-3"
                  >
                    Why I don't see any collaborations ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-4-content-3"
                aria-labelledby="accordion-tab-4-heading-3"
                data-parent="#accordion-tab-4"
              >
                <div class="card-body">
                  <p>
                    If you don't see any collaborations, that means that you
                    have to create one. After you've send an offer and the
                    service owner accepted it, you have to go to Manage ->
                    Offers Sent and click the Collaboration button, keep in mind
                    that you can create one only if service owner has accepted
                    the offer.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-4-heading-4">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-4-content-4"
                    aria-expanded="false"
                    aria-controls="accordion-tab-4-content-4"
                  >
                    How can I start the collaboration ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-4-content-4"
                aria-labelledby="accordion-tab-4-heading-4"
                data-parent="#accordion-tab-4"
              >
                <div class="card-body">
                  <p>
                    After both of you (service owner and you) have joined the
                    collaboration you can start it via the "Start Collaboration"
                    button and a timer will run after it expires you won't be
                    allowed to send further messages.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-tab-4-heading-5">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-4-content-5"
                    aria-expanded="false"
                    aria-controls="accordion-tab-4-content-5"
                  >
                    How can I see if service owner or offer sender is in
                    collaboration ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-4-content-5"
                aria-labelledby="accordion-tab-4-heading-5"
                data-parent="#accordion-tab-5"
              >
                <div class="card-body">
                  <p>
                    You can see it at the left side of the collaboration chat
                    page or the small circle indicator next to the name in the
                    chat message field. Status may be offline or online.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
          <div class="accordion" id="accordion-tab-5">
            <div class="card">
              <div class="card-header" id="accordion-tab-5-heading-1">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-5-content-1"
                    aria-expanded="false"
                    aria-controls="accordion-tab-5-content-1"
                  >
                    How do I send messages ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse show"
                id="accordion-tab-5-content-1"
                aria-labelledby="accordion-tab-5-heading-1"
                data-parent="#accordion-tab-5"
              >
                <div class="card-body">
                  <p>
                    Let me clarify, that the you can't send personal user
                    messages, outside the collaboration chat. The meaning of the
                    "Messages" in the navbar is to see all the collaborations
                    that are with pending status and you have to join as soon as
                    possible. Once you join one and start the collaboration the
                    message will dissapear.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-5-heading-2">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-5-content-2"
                    aria-expanded="false"
                    aria-controls="accordion-tab-5-content-2"
                  >
                    How do I recive messages ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-5-content-2"
                aria-labelledby="accordion-tab-5-heading-2"
                data-parent="#accordion-tab-5"
              >
                <div class="card-body">
                  <p>
                    If a collaboration is created, but not started via the
                    "Start Collaboration" button timer, you will see all
                    collaborations with pending status on the "Message" navlink.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-5-heading-3">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-5-content-3"
                    aria-expanded="false"
                    aria-controls="accordion-tab-5-content-3"
                  >
                    What is the difference between entering a collaboration via
                    "Message" join button and "My Collaborations" enter button ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-5-content-3"
                aria-labelledby="accordion-tab-5-heading-3"
                data-parent="#accordion-tab-5"
              >
                <div class="card-body">
                  <p>
                    There is no difference, the purpose of the "Message" panel
                    in the navbar is to see all collaborations that have not
                    started yet and you have to join and start as soon as
                    possible and inside the "My Collaborations" you can see all
                    not started and finished collaborations.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-5-heading-4">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-5-content-4"
                    aria-expanded="false"
                    aria-controls="accordion-tab-5-content-4"
                  >
                    I have collaborations created, but don't see not any
                    messages ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-5-content-4"
                aria-labelledby="accordion-tab-5-heading-4"
                data-parent="#accordion-tab-5"
              >
                <div class="card-body">
                  <p>
                    If you don't see any messages, that means that the
                    collaboration has already started or finished.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--User-->
        <div
          class="tab-pane show active"
          id="tab6"
          role="tabpanel"
          aria-labelledby="tab6"
        >
          <div class="accordion" id="accordion-tab-6">
            <div class="card">
              <div class="card-header" id="accordion-tab-6-heading-1">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-6-content-1"
                    aria-expanded="false"
                    aria-controls="accordion-tab-6-content-1"
                  >
                    Where can I see registered users ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse show"
                id="accordion-tab-6-content-1"
                aria-labelledby="accordion-tab-6-heading-1"
                data-parent="#accordion-tab-6"
              >
                <div class="card-body">
                  <p>
                    You can find registered users at "Users" navbar link.
                  </p>
                  <p><strong>Example: </strong> Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-6-heading-2">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-6-content-2"
                    aria-expanded="false"
                    aria-controls="accordion-tab-6-content-2"
                  >
                    Can I see a user's profile ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-6-content-2"
                aria-labelledby="accordion-tab-6-heading-2"
                data-parent="#accordion-tab-6"
              >
                <div class="card-body">
                  <p>
                    Yes you can see user's profile if you go to navbar "Users"
                    and click the "Profile" button.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-6-heading-3">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-6-content-3"
                    aria-expanded="false"
                    aria-controls="accordion-tab-6-content-3"
                  >
                    Where can I find user's services ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-6-content-3"
                aria-labelledby="accordion-tab-6-heading-3"
                data-parent="#accordion-tab-6"
              >
                <div class="card-body">
                  <p>
                    You can find all users services at the main home page or at
                    user's profile page.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-6-heading-4">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-6-content-4"
                    aria-expanded="false"
                    aria-controls="accordion-tab-6-content-4"
                  >
                    How can I send message to a user ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-6-content-4"
                aria-labelledby="accordion-tab-6-heading-4"
                data-parent="#accordion-tab-6"
              >
                <div class="card-body">
                  <p>
                    You can send a message to a user at the user's profile page,
                    which you can find at navbar link Users -> Profile ->
                    Message red button.
                  </p>
                  <p><strong>Example: </strong>Image here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--User-->
        <div class="tab-pane" id="tab7" role="tabpanel" aria-labelledby="tab7">
          <div class="accordion" id="accordion-tab-7">
            <div class="card">
              <div class="card-header" id="accordion-tab-7-heading-1">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-7-content-1"
                    aria-expanded="false"
                    aria-controls="accordion-tab-7-content-1"
                  >
                    Can I use it all the time ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse show"
                id="accordion-tab-7-content-1"
                aria-labelledby="accordion-tab-7-heading-1"
                data-parent="#accordion-tab-7"
              >
                <div class="card-body">
                  <p>
                    Of course the app is free, you can use it whenever you want.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-7-heading-2">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-7-content-2"
                    aria-expanded="false"
                    aria-controls="accordion-tab-7-content-2"
                  >
                    Does this app have what I want ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-7-content-2"
                aria-labelledby="accordion-tab-7-heading-2"
                data-parent="#accordion-tab-7"
              >
                <div class="card-body">
                  <p>
                    We have a large choice of services, so the chance is big to
                    find what are you searching for.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-7-heading-3">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-7-content-3"
                    aria-expanded="false"
                    aria-controls="accordion-tab-7-content-3"
                  >
                    Are there any restrictions ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-7-content-3"
                aria-labelledby="accordion-tab-7-heading-3"
                data-parent="#accordion-tab-7"
              >
                <div class="card-body">
                  <p>
                    Only the sky is your limit. :)
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-tab-7-heading-4">
                <h5>
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordion-tab-7-content-4"
                    aria-expanded="false"
                    aria-controls="accordion-tab-7-content-4"
                  >
                    How can I contact you ?
                  </button>
                </h5>
              </div>
              <div
                class="collapse"
                id="accordion-tab-7-content-4"
                aria-labelledby="accordion-tab-7-heading-4"
                data-parent="#accordion-tab-7"
              >
                <div class="card-body">
                  <p>
                    If you have any other questions about ConnectValve, you can
                    contact me by clicking
                    <a
                      href="https://www.linkedin.com/in/daniel-pashaliyski-ab65baa0/"
                      >here</a
                    >.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
