<footer class="page-footer font-small footer">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="about">About</a>
        </h6>
      </div>

      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="faq">FAQ</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="https://linkedin.com/in/daniel-pashaliyski-ab65baa0"
            >Contact</a
          >
        </h6>
      </div>
    </div>

    <hr class="rgba-white-light" style="margin: 0 15%;" />

    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem;" class="info-text">
          <span routerLink="home">ConnectValve</span> is an extensive
          open-source project. The purpose of the app is to teach, learn,
          connect based on people needs.
        </p>
      </div>
    </div>
    <hr
      class="clearfix d-md-none rgba-white-light"
      style="margin: 10% 15% 5%;"
    />

    <div class="row pb-3 social-container">
      <div class="col-md-12">
        <div class="mb-5 flex-center socials">
          <a href="https://github.com/dontlookatmee" class="gh-ic">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          <a
            href="https://linkedin.com/in/daniel-pashaliyski-ab65baa0"
            class="li-ic"
          >
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
          <a href="https://facebook.com/daniel.pashaliyski" class="fb-ic">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://github.com/dontlookatmee/ConnectValve">
      @Daniel Pashaliyski</a
    >
  </div>
</footer>
