#navbarNav {
  justify-content: flex-end;
}

.navbar-brand {
  color: #e27d60;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar-brand:hover {
  color: #ce6041;
}

#register-button {
  color: white;
  background-color: #e27d60;
  padding: 0.5rem 1.4rem;
  border-radius: 90px;
}
#register-button:hover {
  background-color: #ce6041;
}

ul > li {
  margin-left: 10px;
}

ul > li a:hover {
  color: #ce6041;
}
