<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ConnectValve</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#">Hi, {{ user.name }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Faq</a>
      </li>
      <ng-container *ngIf="!isLoggedIn; else logged">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a routerLink="/auth/login" class="nav-link">Login</a>
        </li>
        <li routerLink="/auth/register" *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" id="register-button">Register</a>
        </li>
      </ng-container>
      <ng-template #logged>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link">Manage</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link">Messages</a>
        </li>
        <li
          (click)="handleLogOut()"
          *ngIf="isLoggedIn"
          class="nav-item"
          id="logout-button"
        >
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
