<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="./" class="navbar-brand">ConnectValve</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <ng-container *ngIf="auth.user$ | async; then atuhenticated; else guest">
      </ng-container>
      <ng-template #guest>
        <div class="guest">
          <li class="nav-item">
            <a routerLink="./" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="faq" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a routerLink="about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/auth/login" class="nav-link">Login</a>
          </li>
          <li routerLink="/auth/register" class="nav-item">
            <a class="nav-link" id="register-button">Register</a>
          </li>
        </div>
      </ng-template>
      <ng-template #atuhenticated>
        <div class="atuhenticated" *ngIf="auth.user$ | async as user">
          <li class="nav-item">
            <a class="nav-link">Hi, {{ user.name }}</a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link">Home</a>
          </li>

          <li class="nav-item">
            <div class="dropdown show">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manage
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a routerLink="/services/create" class="dropdown-item"
                  >Create Service</a
                >
                <a routerLink="/services/my-services" class="dropdown-item"
                  >Your Services</a
                >
                <a routerLink="/offers/sent" class="dropdown-item"
                  >Sent Offers</a
                >
                <a routerLink="/offers/received" class="dropdown-item"
                  >Received Offers</a
                >
                <a routerLink="/collaborations/recived" class="dropdown-item"
                  >Received Collaborations</a
                >
              </div>
            </div>
          </li>
          <app-messages></app-messages>

          <li class="nav-item">
            <a routerLink="users" class="nav-link">Users</a>
          </li>
          <li class="nav-item">
            <a routerLink="inbox" class="nav-link">Inbox</a>
          </li>
          <li class="nav-item">
            <a routerLink="faq" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a routerLink="about" class="nav-link">About</a>
          </li>
          <li (click)="handleLogOut()" class="nav-item" id="logout-button">
            <a class="nav-link">Logout</a>
          </li>
        </div>
      </ng-template>
    </ul>
  </div>
</nav>
