#navbarNav {
  justify-content: flex-end;
}

.navbar-brand {
  color: #e27d60;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar-brand:hover {
  color: #ce6041;
}
.atuhenticated,
.guest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#register-button {
  background-color: #e27d60;
  padding: 0.5rem 1.4rem;
  border-radius: 90px;
}

#register-button {
  color: white;
}

#logout-button {
  background-color: #e27d60;
  padding: 0.1rem 1.4rem;
  border-radius: 90px;
}

#logout-button a {
  color: white;
}

#register-button:hover,
#logout-button:hover {
  cursor: pointer;
  background-color: #ce6041;
}

ul > li {
  margin-left: 10px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(0, 0, 0, 0.5);
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding: 0;
}
#dropdownMenuLink:hover {
  color: rgb(0, 0, 0, 0.9);
}

@media screen and (max-width: 991px) {
  .atuhenticated,
  .guest {
    flex-direction: column;
    text-align: center;
  }
  #logout-button,
  #register-button {
    width: 100px;
    margin: 0 auto;
  }
}
