li {
  list-style-type: none;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 20px;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.info p {
  margin-bottom: 0;
}

#date {
  padding: 0.5rem;
  padding-bottom: 0;
  height: 35px;
}

.status {
  font-size: 0.8rem;
  padding: 0.3rem 0.4rem;
  color: white;
  margin: 5px 0;
}
.active {
  background-color: #218838;
}
.pending {
  background-color: #e0a800;
}
.finished {
  background-color: #e38968;
}

.button {
  height: 100%;
}

img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1140px) {
}
@media screen and (max-width: 960px) {
}
@media (max-width: 576px) {
  .button {
    margin: 10px 10px 10px 0;
  }
}
