<li>
  <div class="title">
    <h5>{{ title }}</h5>
  </div>
  <div class="content">
    <div class="info">
      <img *ngIf="img" [src]="img" alt="" />
      <p id="date">replied {{ lastRep }}</p>
      <p
        class="status"
        [ngClass]="{
          pending: status === 'pending',
          active: status === 'active'
        }"
      >
        {{ status }}
      </p>
    </div>
    <div class="button">
      <button (click)="handleEnterCb()" class="btn btn-outline-primary">
        Enter
      </button>
    </div>
  </div>
</li>
<hr />
