.title {
  width: 100%;
  text-align: center;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  top: 0;
  bottom: 0;
}
.title_inner {
  float: right;
  width: 260px;
  text-align: left;
  position: relative;
  top: 160px;
}
.title_inner h1 {
  margin: 0;
  text-transform: uppercase;
}
.title_inner h2 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}
.container {
  width: 100%;
  text-align: center;
  height: 500px;
  margin: auto;
}
.container_ui {
  width: 350px;
  background: white;
  height: 486px;
  transition-property: opacity, top;
  transition-duration: 0.4s;
  animation: pop 0.5s forwards;
}
.container_ui__heading {
  height: 60px;
  width: 100%;
  background: #333658;
}
.container_ui__heading .header_icon {
  float: left;
  text-align: left;
}
.container_ui__heading .header_icon img {
  margin: 17px 20px 20px 20px;
  cursor: pointer;
}
.container_ui__heading h1 {
  color: #aeb1d8;
  text-transform: uppercase;
  font-weight: 700;
  height: 10px;
  margin: 0;
  font-size: 12px;
  float: left;
  width: 33%;
  letter-spacing: 1px;
  line-height: 64px;
}
.container_ui__heading .header_icon {
  float: left;
  width: 33%;
  height: 40px;
}
.container_ui__heading .menu_icon {
  width: 33%;
  float: left;
  text-align: right;
  position: relative;
  top: 25px;
  right: 20px;
  cursor: pointer;
}
.container_ui__heading .menu_icon div {
  width: 21px;
  height: 2px;
  float: right;
  display: block;
  margin-bottom: 3px;
  border-radius: 1px;
  clear: both;
  background: rgba(0, 0, 0, 0.26);
}
.container_ui input[type='checkbox'] {
  display: none;
}
.container_ui label:hover > .container_ui__item .face .color_bar {
  width: 81px;
  transition-property: width;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container_ui label:hover > .container_ui__item .face .color_bar span {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-delay: 0.3s;
}
.container_ui label:hover > .container_ui__item .face .color_bar p {
  opacity: 0;
}

.container_ui input[type='checkbox']:checked + label > .container_ui__expand {
  transition-property: left, opacity;
  transition-duration: 0.4s;
  left: 380px;
  z-index: -1;
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}
.container_ui .container_ui__expand label {
  width: 10px;
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 12px;
  font-weight: 700;
  color: #a6a6a6;
}
.container_ui .container_ui__expand label:hover {
  color: #444;
}

.container_ui
  input[type='checkbox']:checked
  + label
  > .container_ui__expand
  label {
  pointer-events: auto;
}

.container_ui
  input[type='checkbox']:checked
  + label
  > .container_ui__expand
  .body
  .user
  .face
  img {
  animation: pop 0.5s 0.5s forwards;
}

.container_ui
  input[type='checkbox']:checked
  + label
  > .container_ui__expand
  .body
  .user
  .details {
  animation: popup 0.5s 0.5s forwards;
}

.container_ui
  input[type='checkbox']:checked
  + label
  > .container_ui__expand
  .body
  .content {
  animation: popup 0.5s 0.7s forwards;
}

.container_ui
  input[type='checkbox']:not(:checked)
  + label
  > .container_ui__expand
  .body
  .user
  .face
  img {
  animation: poprev 0.5s 0.5s forwards;
  transform: scale(0);
  transition-property: transform;
}

.container_ui
  input[type='checkbox']:checked
  + label
  > .container_ui__item
  .face
  .color_bar {
  right: auto;
  width: 350px;
  height: 71px;
}

.container_ui
  input[type='checkbox']:checked
  + label
  > .container_ui__item
  .face
  .color_bar
  p {
  opacity: 1;
  transition-duration: 0.3s;
  transition-delay: 0.4s;
  transition-property: opacity;
}

.container_ui
  input[type='checkbox']:checked
  + label
  > .container_ui__item
  .face
  .color_bar
  span {
  display: none;
}
.container_ui label {
  cursor: pointer;
  display: block;
  max-height: 71px;
  float: left;
  width: 100%;
  overflow: hidden;
}
.container_ui label:hover > .container_ui__item {
  background-color: #eaeaea !important;
}
.container_ui label .container_ui__item {
  pointer-events: none;
}
.container_ui__item {
  width: 100%;
  float: left;
  height: 74px;
  text-align: left;
  color: black;
  box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
  color: white;
  background: #f5f5f5;
  cursor: pointer;
}
.container_ui__item h2,
.container_ui__item h3,
.container_ui__item h4 {
  color: black;
}
.container_ui__item h2 {
  font-size: 11px;
  display: inline-block;
  color: #515151;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px 0px 0px 0px;
  padding-top: 0px;
}
.container_ui__item h3 {
  font-size: 8px;
  font-weight: 800;
  margin: 5px 0px 10px 0px;
  text-transform: uppercase;
  color: #b2b2b2;
}
.container_ui__item h4 {
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  color: #919191;
}
.container_ui__item .face {
  float: left;
  clear: left;
  margin: 0;
  margin-right: 10px;
  position: relative;
}
.container_ui__item .face img {
  height: 81px;
  /* margin: 10px;
	 */
  /* border-radius: 5px;
	 */
}
.container_ui__item .face .color_bar {
  float: right;
  width: 6px;
  background: #56b699;
  position: absolute;
  right: 0;
  text-align: center;
  height: 71px;
  top: 0;
  z-index: 1;
}
.container_ui__item .face .color_bar p {
  opacity: 0;
  margin-top: 26px;
}
.container_ui__item .face .color_bar span {
  opacity: 0;
  font-size: 12px;
  position: relative;
  top: -56px;
}
.container_ui .dot {
  width: 6px;
  height: 6px;
  background: #cdcdcd;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  top: -1px;
  z-index: 0;
  left: 3px;
}
.container_ui .active {
  background: #6cbe63;
}
.container_ui__expand {
  width: 350px;
  box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.16);
  height: 486px;
  position: absolute;
  top: 0;
  transition-delay: 0.2s;
  transition-property: left, opacity;
  opacity: 0;
  transition-duration: 0.4s;
  left: 0;
  z-index: -1;
  background: white;
}
.container_ui__expand .body .content {
  text-align: left;
  position: relative;
  top: 10px;
  opacity: 0;
}
.container_ui__expand .body .content p {
  text-align: justify;
  font-size: 10px;
  line-height: 20px;
  padding: 25px;
  color: #9b9b9b;
  font-weight: 500;
}
.container_ui__expand .body .content p b {
  color: #444;
}
.container_ui__expand .body .content span {
  display: block;
  padding: 0px 25px;
  font-weight: 800;
  position: relative;
  top: -10px;
  font-size: 10px;
  color: #7d7d7d;
}
.container_ui__expand .body .content textarea {
  margin: 0px 25px;
  width: 295px;
  resize: none;
  border: 1px solid #e0e0e0;
  height: 60px;
  border-radius: 3px;
}
.container_ui__expand .body .user {
  border-bottom: 1px solid #ececec;
  height: 65px;
}
.container_ui__expand .body .user .details {
  opacity: 0;
  top: 10px;
  position: relative;
  float: left;
  width: 240px;
  text-align: left;
}
.container_ui__expand .body .user .details h2 {
  font-size: 14px;
  display: inline-block;
  color: #515151;
  text-transform: uppercase;
  font-weight: 800;
  margin: 13px 0px 0px 0px;
  padding-top: 0px;
}
.container_ui__expand .body .user .details h3 {
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0px 10px 0px;
  text-transform: uppercase;
  color: #b2b2b2;
}
.container_ui__expand .body .user .details h4 {
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  color: #919191;
}
.container_ui__expand .body .user .face {
  float: left;
}
.container_ui__expand .body .user .face img {
  width: 40px;
  transform: scale(0);
  border-radius: 100%;
  border: 2px solid #fff;
  margin: 10px 25px;
}
.container_ui__expand .heading {
  height: 10px;
  width: 100%;
  background: #56b699;
}
.container_ui__expand .heading_head h1 {
  color: #aeb1d8;
  text-transform: uppercase;
  font-weight: 700;
  height: 10px;
  margin: 0;
  font-size: 12px;
  float: left;
  width: 100%;
  letter-spacing: 1px;
  line-height: 64px;
}
.two {
  background: #5674b6 !important;
}
.three {
  background: #d05e5e !important;
}
.four {
  background: #acd35d !important;
}
.five {
  background: #ea9739 !important;
}
.six {
  background: #b6568d !important;
}

.container_ui input[type='checkbox']:checked + label > .container_ui__expand a {
  pointer-events: auto;
}
/* Let's do some animations! */
@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes poprev {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes popup {
  from {
    top: 10px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
