.main-container {
  color: #1b1b1b;
  text-align: center;
}

.header-text-container {
  text-align: center;
  margin: 50px 0;
}

form {
  width: 25%;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 1rem;
}
