.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  position: absolute;
  top: 52px;
  right: 1px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  width: 20%;
}
.info-msg {
  color: #059;
  background-color: #bef;
}
.success-msg {
  color: #270;
  background-color: #dff2bf;
}
.warning-msg {
  color: #9f6000;
  background-color: #feefb3;
}
.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}
