.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.header-text {
  text-align: center;
  color: black;
  padding: 20px 0;
  margin: 0 auto;
}

@media screen and (max-width: 830px) {
}

@media screen and (max-width: 1140px) {
  ul {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 960px) {
  .main-container {
    height: auto;
  }
}
@media (max-width: 576px) {
}
