<section id="contact-form">
  <form #form="ngForm" (ngSubmit)="handleMessage(form)">
    <input
      type="text"
      [(ngModel)]="subject"
      #subj="ngModel"
      name="subject"
      placeholder="Subject"
      required
      minlength="3"
      maxlength="50"
      class="form-control"
      style="margin-bottom: '10px';"
    />
    <div *ngIf="subj.invalid && (subj.touched || subj.dirty)">
      <div style="color: 'red';" *ngIf="subj.errors.required">
        Subject is required.
      </div>
      <div style="color: 'red';" *ngIf="subj.errors.minlength">
        Message you entered is
        {{ subj.errors.minlength.actualLength }} characters long, but it must be
        at least {{ subj.errors.minlength.requiredLength }} characters.
      </div>
    </div>
    <div style="color: 'gray';" *ngIf="subject?.length === 50">
      You have reached maximum characters.
    </div>
    <textarea
      [(ngModel)]="message"
      #msg="ngModel"
      name="message"
      placeholder="Message"
      required
      minlength="20"
      maxlength="600"
      class="form-control"
    ></textarea>
    <div *ngIf="msg.invalid && (msg.touched || msg.dirty)">
      <div style="color: 'red';" *ngIf="msg.errors.required">
        Message is required.
      </div>
      <div style="color: 'red';" *ngIf="msg.errors.minlength">
        Message you entered is
        {{ msg.errors.minlength.actualLength }} characters long, but it must be
        at least {{ msg.errors.minlength.requiredLength }} characters.
      </div>
    </div>
    <div style="color: 'gray';" *ngIf="message?.length === 600">
      You have reached maximum characters.
    </div>
    <button [disabled]="msg.invalid" class="btn btn-primary">Send</button>
  </form>
</section>
<app-small-popup
  *ngIf="feedback?.visible"
  [type]="feedback?.type"
  [message]="feedback?.message"
></app-small-popup>
