<div class="main-container">
  <div class="image-container">
    <img
      [src]="service?.data.image"
      alt=""
      onerror="this.src='../../../assets/error/broken-image.jpg'"
    />
  </div>
  <div class="content">
    <!--User and Price-->
    <div class="user-price">
      <!--User name-->
      <div class="user-info">
        <img [src]="service?.data.avatar" alt="" />
        <div class="name">
          <p>{{ service?.data.name }}</p>
          <p>Owner</p>
        </div>
      </div>
      <!--Charge-->
      <div class="price">
        <p>${{ service?.data.price }}</p>
        <p>Per Hour</p>
      </div>
    </div>
    <!--Service Info-->
    <div class="info-content">
      <h1>{{ service?.data.title }}</h1>
      <span>{{ service?.data.category }}</span>
      <p>
        {{ service?.data.description }}
      </p>
      <button
        [disabled]="!canMakeOffer"
        (click)="handleOfferPopup()"
        class="btn btn-outline-primary"
      >
        Make an offer
      </button>
    </div>
  </div>
</div>

<!--Small PopUp-->
<app-small-popup
  *ngIf="offerSent"
  message="Offer was successfuly created!"
  type="success"
></app-small-popup>

<!--Popup Deal Form-->
<app-popup (closePopup)="handleClosePopup($event)" *ngIf="dealPopup">
  <div class="header-text">
    <p>Make A Deal</p>
  </div>
  <div class="popup-content">
    <form [formGroup]="dealForm" (ngSubmit)="handleOffer()">
      <div class="message-input">
        <app-input
          [control]="dealForm.get('note')"
          placeholder="Write some catchy note"
          name="note"
        ></app-input>
        <p class="message-note">
          Note can increase the chance of getting the service
        </p>
      </div>

      <div class="time-input">
        <app-input
          [control]="dealForm.get('time')"
          placeholder="How long do you need the service for ?"
          name="time"
          type="number"
        ></app-input>
        <p class="time-note">
          Enter time in hours(number)
        </p>
      </div>

      <div class="deal-message-container">
        <p class="deal-message">
          Upon acceptance {{ service?.data.title }},
          {{ service?.data.name }} will charge you:
        </p>
        <p class="price">${{ calculateDealPrice() }}</p>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button
          (click)="handleClosePopup(false)"
          type="button"
          class="btn btn-warning"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</app-popup>
