<div class="main-container">
  <div class="image-container">
    <img
      src="https://verdesbuild.com/images/gallery/verdes-1998726220.jpg"
      alt=""
    />
  </div>
  <div class="content">
    <!--User and Price-->
    <div class="user-price">
      <!--User name-->
      <div class="user-info">
        <img
          src="https://static.webcafe.bg/uploads/images/75/3775/203775/768x432.jpg?_=1589638520"
          alt=""
        />
        <div class="name">
          <p>My name</p>
          <p>Owner</p>
        </div>
      </div>
      <!--Charge-->
      <div class="price">
        <p>$20</p>
        <p>Per Hour</p>
      </div>
    </div>
    <!--Service Info-->
    <div class="info-content">
      <h1>I will teach programming</h1>
      <span>programming</span>
      <p>
        I will teach you programming. Programing is awesome.I will teach you
        programming. Programing is awesome.I will teach you programming.
        Programing is awesome.I will teach you programming. Programing is
        awesome.I will teach you programming. Programing is awesome.I will teach
        you programming. Programing is awesome.I will teach you programming.
        Programing is awesome.
      </p>
      <button class="btn btn-outline-primary">Make an offer</button>
    </div>
  </div>
</div>
