.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  margin-top: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.7rem;
  flex-basis: 50%;
}
.image-container {
  flex-basis: 50%;
}
.image-container img {
  width: 100%;
  height: 500px;
}

.user-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 20%;
}

.name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.name p:first-of-type {
  margin-bottom: 3px;
}

.name p:last-of-type {
  color: #bbbbbb;
}

.user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user-info img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 15px;
}

.price p:first-of-type {
  margin-bottom: 3px;
}

.price p:last-of-type {
  color: #bbbbbb;
}

.info-content {
  text-align: center;
  flex-basis: 80%;
}
.info-content h1 {
  margin-bottom: 15px;
}

.info-content span {
  padding: 0.4rem 0.4rem;
  background-color: #ebebeb;
}

.info-content p {
  margin-top: 15px;
}

/* Popup ngcontent styles */
.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
  border-radius: 8px 8px 0 0;
  height: 3rem;
}

.header-text p {
  font-size: 20px;
  margin: 0;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.7rem;
}

.popup-content .message-input,
.time-input {
  display: flex;
  flex-direction: column;
}
.popup-content .message-input {
  margin-bottom: 15px;
}

.popup-content .message-note,
.time-note {
  font-size: 13px;
  align-self: flex-start;
  color: rgb(214, 214, 214);
}
.deal-message-container .deal-message {
  font-size: 1.2rem;
}

.deal-message-container .price {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 43%;

  margin-top: 30px;
}
