li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li img {
  float: left;
  margin: 0 15px 0 0;
  width: 250px;
  height: 250px;
}

li p {
  font-weight: 15px;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  width: 100%;
  justify-content: space-between;
}

.category-container {
  width: 25%;
}
.desc {
  display: flex;
  flex-direction: column;
}

.desc textarea {
  padding: 0.5rem;
}

.field {
  margin-bottom: 15px;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

@media screen and (max-width: 1140px) {
}
@media screen and (max-width: 766px) {
  li > div {
    margin: 0 auto;
  }
  .content {
    text-align: center;
  }
  .buttons button {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
}
