<div class="home-main-container">
  <div class="home-header-content">
    <div class="jumbotron">
      <h1 class="display-4">Learn, Collaborate.</h1>
      <p class="lead">
        <span>ConnectValve</span> helps people learn and collaborate with each
        other.
      </p>
      <hr class="my-4" />
      <p>
        Join us and connect with thousand of people.
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Get started</a>
    </div>
    <div id="illustration">
      <img src="../../../assets/illustrations/3327590.jpg" alt="" />
    </div>
  </div>
  <div class="home-services-container">
    <div class="services-header-text">
      <h1>Services available</h1>
      <p>Join us and start collaboration right now.</p>
    </div>
    <div class="service-grid-container">
      <app-service-card
        *ngFor="let service of allServices"
        [title]="service?.data?.title"
        [description]="service?.data?.description"
        [imageUrl]="service?.data?.image"
        buttonText="Learn More"
        [path]="service?.id"
      ></app-service-card>
    </div>
  </div>
</div>
