<div class="container-fluid main">
  <div class="card profile">
    <div class="card-header profileName">
      John Smith
      <div class="isOnline">
        <small>Online</small>
      </div>
    </div>
    <div class="card-body profileBody">
      <div class="profilePic">
        <img
          class="avatar"
          src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png"
          alt="Username"
        />
      </div>
      <div class="profileInfo">
        <p>Description: Fullstack Developer</p>
      </div>
    </div>
    <div class="card-footer actions">
      <button class="btn btn-outline-warning">Profile</button>
    </div>
  </div>
</div>
