<div class="offer-card">
  <div class="offer-content">
    <h4>{{ offerServiceInfo?.data.title }}</h4>
    <img
      src="https://images.unsplash.com/photo-1497215842964-222b430dc094?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
      alt=""
    />
    <p>{{ offerServiceInfo?.data.description }}</p>
    <p
      [ngClass]="{
        pending: status === 'pending',
        accepted: status === 'accepted',
        decline: status === 'declined'
      }"
      class="status pending"
    >
      {{ status }}
    </p>
    <hr />
    <div class="from-user">
      <p class="label">From User:</p>
      <p>{{ userProfile?.name }}</p>
    </div>
    <div class="note">
      <p class="label">Note:</p>
      <p>{{ note }}</p>
    </div>
    <div class="price">
      <p class="label">Price:</p>
      <p>${{ price }}</p>
    </div>
    <div class="time">
      <p class="label">Time:</p>
      <p>{{ time }} hours</p>
    </div>
    <ng-container *ngIf="isReceiver; then receiver; else sender"></ng-container>
    <ng-template #receiver>
      <hr />
      <div
        [ngClass]="{
          'less-butons': status === 'accepted' || 'declined
        14'
        }"
        class="button"
      >
        <button
          *ngIf="status !== 'accepted'"
          (click)="accepOffer()"
          class="btn btn-success"
        >
          Accept
        </button>
        <button
          *ngIf="status !== 'declined'"
          (click)="declineOffer()"
          class="btn btn-secondary"
        >
          Decline
        </button>
        <button (click)="deleteOffer()" class="btn btn-danger">Delete</button>
      </div>
    </ng-template>

    <ng-template #sender>
      <hr />
      <button class="btn btn-success">Collaborate</button>
    </ng-template>
  </div>
</div>
