<div class="main-container">
  <div class="container clearfix">
    <div class="people-list" id="people-list">
      <ul class="list">
        <li class="clearfix">
          <img [src]="toUser?.avatar" alt="avatar" />
          <div class="about">
            <div class="name">{{ toUser?.name }}</div>
            <div class="status">
              <i
                [ngClass]="{
                  online: collaboration?.data.joinedPeople.includes(
                    toUser?.uid
                  ),
                  offline: !collaboration?.data.joinedPeople.includes(
                    toUser?.uid
                  )
                }"
                class="fa fa-circle"
              ></i>
              {{
                collaboration?.data.joinedPeople.includes(toUser?.uid)
                  ? 'online'
                  : 'offline'
              }}
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img [src]="fromUser?.avatar" alt="avatar" />
          <div class="about">
            <div class="name">{{ fromUser?.name }}</div>
            <div class="status">
              <i
                [ngClass]="{
                  online: collaboration?.data.joinedPeople.includes(
                    fromUser?.uid
                  ),
                  offline: !collaboration?.data.joinedPeople.includes(
                    fromUser?.uid
                  )
                }"
                class="fa fa-circle"
              ></i
              >{{
                collaboration?.data.joinedPeople.includes(fromUser?.uid)
                  ? 'online'
                  : 'offline'
              }}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="chat">
      <div class="chat-header clearfix">
        <img [src]="loggedUser?.avatar" alt="avatar" />

        <div class="chat-about">
          <div class="chat-with">{{ loggedUser?.name }}</div>
        </div>
      </div>
      <!-- end chat-header -->

      <div #msgContainer class="chat-history">
        <ul>
          <ng-container *ngFor="let message of messages; let idx = index">
            <ng-container *ngIf="idx % 2 === 0">
              <app-chat-message
                *ngIf="messages[idx]"
                [name]="messages[idx]?.name"
                [message]="messages[idx]?.message"
                [date]="messages[idx]?.date"
                position="right"
                [isOnline]="
                  collaboration?.data.joinedPeople.includes(toUser?.uid)
                "
              ></app-chat-message>

              <app-chat-message
                *ngIf="messages[idx + 1]"
                [name]="messages[idx + 1]?.name"
                [message]="messages[idx + 1]?.message"
                [date]="messages[idx + 1]?.date"
                position="left"
                [isOnline]="
                  collaboration?.data.joinedPeople.includes(fromUser?.uid)
                "
              ></app-chat-message>
            </ng-container>
          </ng-container>
        </ul>
      </div>
      <!-- end chat-history -->

      <div class="chat-message clearfix">
        <form #msgForm="ngForm" (ngSubmit)="handleSendMessage(msgForm)">
          <textarea
            name="message-to-send"
            id="message-to-send"
            placeholder="Type your message"
            rows="3"
            [(ngModel)]="userMessage"
            #message="ngModel"
            required
          ></textarea>
          <div
            *ngIf="
              message.errors?.required && (message.touched || message.dirty)
            "
            style="color: 'red'; margin-bottom: '10px';"
          >
            Value is required.
          </div>
          <button
            class="btn btn-primary"
            [disabled]="!msgForm.valid"
            type="submit"
          >
            Send
          </button>
        </form>
      </div>
      <!-- end chat-message -->
    </div>
    <!-- end chat -->
  </div>
  <!-- end container -->
</div>
