<div *ngIf="isDataLoaded" class="main-container">
  <div class="container clearfix">
    <div class="people-list" id="people-list">
      <ul class="list">
        <li class="clearfix">
          <img [src]="toUser?.avatar" alt="avatar" />
          <div class="about">
            <div class="name">{{ toUser?.name }}</div>
            <div class="status">
              <i
                [ngClass]="{
                  online: checkIfUserOnline(toUser?.uid),
                  offline: !checkIfUserOnline(toUser?.uid)
                }"
                class="fa fa-circle"
              ></i>
              {{ checkIfUserOnline(toUser?.uid) ? 'online' : 'offline' }}
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img [src]="fromUser?.avatar" alt="avatar" />
          <div class="about">
            <div class="name">{{ fromUser?.name }}</div>
            <div class="status">
              <i
                [ngClass]="{
                  online: checkIfUserOnline(fromUser?.uid),
                  offline: !checkIfUserOnline(fromUser?.uid)
                }"
                class="fa fa-circle"
              ></i>
              {{ checkIfUserOnline(fromUser?.uid) ? 'online' : 'offline' }}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="chat">
      <div class="chat-header clearfix">
        <div class="header-content">
          <div class="header-user">
            <img [src]="loggedUser?.avatar" alt="avatar" />

            <div class="chat-about">
              <div class="chat-with">{{ loggedUser?.name }}</div>
            </div>
          </div>
          <div class="header-button">
            <app-start-collaboration-button
              *ngIf="collaboration?.data.status === 'pending'"
            ></app-start-collaboration-button>
            <app-timer
              *ngIf="collaboration?.data.status === 'active'"
              [collaboration]="collaboration"
            ></app-timer>
            <div *ngIf="collaboration?.data.status === 'finished'">
              <p class="finish-cb-message">Collaboration has been finished</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end chat-header -->

      <div #msgContainer class="chat-history">
        <ul>
          <ng-container *ngFor="let message of messages">
            <app-chat-message
              *ngIf="messages.length"
              [name]="message?.name"
              [message]="message?.message"
              [date]="message?.date"
              [position]="message?.name === loggedUser?.name ? 'left' : 'right'"
              [isOnline]="
                message?.name === fromUser?.name
                  ? collaboration?.data.joinedPeople.includes(fromUser?.uid)
                  : collaboration?.data.joinedPeople.includes(toUser?.uid)
              "
            ></app-chat-message>
          </ng-container>
        </ul>
      </div>
      <!-- end chat-history -->

      <div class="chat-message clearfix">
        <form #msgForm="ngForm" (ngSubmit)="handleSendMessage(msgForm)">
          <textarea
            name="message-to-send"
            id="message-to-send"
            placeholder="Type your message"
            rows="3"
            [(ngModel)]="userMessage"
            #message="ngModel"
            required
            [disabled]="!canSendMessage"
          ></textarea>
          <div
            *ngIf="
              message.errors?.required && (message.touched || message.dirty)
            "
            style="color: 'red'; margin-bottom: '10px';"
          >
            Value is required.
          </div>
          <button
            class="btn btn-primary"
            [disabled]="!(msgForm.valid && canSendMessage)"
            type="submit"
          >
            Send
          </button>
        </form>
      </div>
      <!-- end chat-message -->
    </div>
    <!-- end chat -->
  </div>
  <!-- end container -->
</div>
<app-spinner *ngIf="!isDataLoaded"></app-spinner>
